/* src/styles/AccessoryHighlights.module.css */

/* Container bọc 2 khối Túi và Mũ */
.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 10px;

    display: grid;
    /* 2 cột bằng nhau */
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* Khoảng cách giữa 2 khối */
}

/* Trên mobile, cho 2 khối xếp dọc */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}