/* src/styles/BlogPage.module.css */
.pageContainer {
    max-width: 1280px;
    margin: 190px auto;
    padding: 0 10px;
    color: #000;
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

/* Trang blog sẽ có 3 cột */
.blogGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Responsive */
@media (max-width: 1024px) {
    .blogGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .blogGrid {
        grid-template-columns: 1fr;
    }
}