/* src/styles/CategoryPage.module.css */
.pageContainer {
    max-width: 1280px;
    margin: 20px auto;
    padding-top: 160px;
    color: #000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.sortContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sortSelect {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 15px;
}

/* Bố cục 2 cột */
.mainContent {
    display: grid;
    /* Sidebar 1 phần, Grid 3 phần */
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

/* Lưới sản phẩm bên phải */
.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-content: start;
}

.empty {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
}

.empty p {
    color: #666;
}

/* Responsive */
@media (max-width: 1024px) {
    .productGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .mainContent {
        grid-template-columns: 1fr;
    }

    .productGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}